#title {
    background-color: #ff4c68;
    color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.navbar {
    padding-bottom: 4.5rem;
}

.download-btn {
    margin: 5% 3% 5% 0;
}

.title-column {
    position: relative;
}

.iphone-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* .col-lg-4 {
    text-align: center;
    line-height: 2;
} */

.features-icon {
    font-size: 400%;
    color: #ef8172;
    margin-bottom: 1rem;
}

.features-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

#features {
    padding: 7% 15% 7% 15%;
    z-index: 1;
    background-color: white;
    position: relative;
}

.features-icon:hover {
    color: #ff4c68;
}

.features-paragraph {
    color: #8f8f8f;
    width: 65%;
    margin: 0 auto;
}

.features-box {
    margin-bottom: 5%;
    text-align: center;
    line-height: 2;
}

#testimonials {
    /* padding: 7% 15% 7% 15%; */
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonials-heading {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonials-image {
    width: 10%;
    border-radius: 50%;
    margin: 1%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-images {
    width: 15%;
    margin: 20px 15px 20px 15px;
}

.carousel-item {
    padding: 7% 15% 7% 15%;
}

.pricing-heading {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-heading-h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width:1014px) {
    .iphone-image {
        position: static;
        transform: rotate(0);
    }

    .title-column {
        text-align: center;
    }
}

#cta {
    background-color: #ff4c68;
    padding: 7% 20%;
    line-height: 5;
    text-align: center;
}

.cta-heading {
    font-weight: 900;
    color: white;
    font-size: 3rem;
    line-height: 1.5;
}

.btn {
    font-weight: 410;
}

.cta-btn {
    margin: 8% 1.5%;
    margin-bottom: 0;
}

#footer {
    padding: 5% 10%;
    text-align: center;
    line-height: 3;
}

.footer-icon {
    padding: 0 1% 0 1%;
}

.footer-paragraph {
    font-weight: 410;
}